<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <style>
        

        .nav{display: flex;overflow-x:auto ;flex-wrap: nowrap;}
        .nav li{padding: 10px 15px;cursor:pointer;font-size: 2em;font-weight: bold;}
        .nav li.active{background: blueviolet;color:white}
        .btn-wrap{margin-bottom: 10px;display: flex;}
        .btn-wrap div{padding: 10px 20px;background:white;color:white;margin-right:5px;color:black}
        .btn-wrap div.tactive{background: skyblue;}
        .view li{
            height: 100px;
            border-radius:5px;border: 3px solid #ddd;margin-bottom:5px;
            position: relative;
            transform-style: preserve-3d;
            transition: 0.3s;
        }
        .view li .num{
            position: absolute;left: 10px;top: 10px;width: 25px;height: 25px;background: #000;z-index:1;
            border-radius: 50%;color:white
        }
        .view li .num.red{background: red;}
        /* .view li:hover{transform:rotateY(180deg);} */
        li.back{transform:rotateY(180deg);}
        .view li div{
            position: absolute;width: 100%;height: 100%;
            overflow: hidden;
            backface-visibility:hidden;
            display: flex;justify-content: center;align-items: center;
            text-align: center;
            flex-direction: column;
            background: white;

        }
        
        .view li div.front h3{margin-bottom: 5px;font-size: 2em;}
        .view li div.back{transform:rotateY(180deg) translateZ(5px);backface-visibility:hidden;font-weight: bold;font-size: 1.3em;}

        #app{padding: 0 16px;}

    </style>
</head>
<body>
    <div id="app">
        

        <ul class="nav">
            <li v-for="(item,i) in wdata" :key="i" @click="view=i;isActive=i" :class="{active : isActive == i  } ">
                {{wdata[i].date}}
            </li>
        </ul>
        <div v-if="view == i"  v-for="(item,i) in wdata" :key="i">
           <!-- {{wdata[i].words[1]}} -->
         <div class="btn-wrap">
            <div @click="vWord=0" :class="{tactive:vWord==0}">영어</div>
            <!-- <button @click="vWord=1">한글</button>
            <button @click="vWord=2">발음</button> -->
            <div @click="update" :class="{tactive:vWord==3}">발음랜덤</div>
         </div>


           <h3>no. {{wdata[i].date}}</h3>
          
           <ul v-if="vWord == 0" class="view">
               <li v-for="(item,k) in wdata[i].words" :key="k" @click="myClick(k)" :class="{back:back==k}">
                   <div class="num">{{k+1}}</div>
                    <div class="front"><h3>{{wdata[i].words[k].word}}</h3><p>[{{wdata[i].words[k].list}}]</p></div>
                   <div class="back">{{wdata[i].words[k].kor}}</div>
               </li>
           </ul>
           <ul v-if="vWord == 1">
            <li v-for="(item,k) in wdata[i].words" :key="k">
                {{wdata[i].words[k].kor}}
            </li>
            </ul>
            <ul v-if="vWord == 2">
                <li v-for="(item,k) in wdata[i].words" :key="k">
                    {{wdata[i].words[k].list}}
                </li>
            </ul>
            <ul v-if="vWord == 3" class="view">
                <li v-for="(item,k) in wdata[i].words" :key="k" @click="myClick(k)" :class="{back:back==k}">
                    <div class="num red">{{k+1}}</div>
                    <div class="front"><h3>{{wdata[i].words[wView[k]].list}}</h3></div>
                   <div class="back"><h3>{{wdata[i].words[wView[k]].word}}</h3>  <p>{{wdata[i].words[wView[k]].kor}}</p></div>
                </li>
            </ul>

        </div>
        
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="container fixed-bottom bg-info">
        <div class="row text-center">
            <div class="col"><a href="index.html" class="p-3 d-flex flex-column"><i class="fa-solid fa-house mb-1"></i> home</a></div>
            <div class="col"><a href="eng.html" class="p-3 d-flex flex-column"><i class="fa-solid fa-map mb-1"></i> eng</a></div>
            <div class="col"><a href="words.html" class="p-3 d-flex flex-column"><i class="fa-solid fa-book-open mb-1"></i> words</a></div>
            <div class="col"><a href="words_5.html" class="p-3 d-flex flex-column"><i class="fa-solid fa-book-open mb-1"></i> w5</a></div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        // import view from data.js;
        new Vue({
            el:"#app",
            data:{
                //view:"han",
                view:"0",
                isActive:0,
                back:null,
                backView:true,
                vWord:0,
                tactive:0,
                wView:[],
                wdata:[
                    {
                        idx:1,
                        date:"1",
                        words:[
                            {word:"intellect",kor:"n.지적 능력, 지적 능력이 뛰어난 사람",list:"인털렉트"},
                            {word:"kindergarten",kor:"n.유치원",list:"킨덜갈든"},
                            {word:"laboratory",kor:"n.실험실,a.실험실의",list:"레보레토리"},
                            {word:"laundry",kor:"n.세탁물",list:"런드리"},
                            {word:"literally",kor:"ad.문자그대로",list:"리덜러리"},
                            {word:"measure",kor:"n.측정, 수단,v.측정하다",list:"메져"},
                            {word:"minor",kor:"n.미성년자,v.부전공하다,a.사소한, 2류의",list:"마이너"},
                            {word:"modest",kor:"a.겸손한, 알맞은",list:"모디스트"},
                            {word:"necessity",kor:"n.필수, 필요, 필수품",list:"네쎄씨디"},
                            {word:"option",kor:"n.선택, 선택권",list:"옵션"},
                            {word:"pause",kor:"n.중단, v.중단하다, 잠시 멈추다",list:"퍼즈"},
                            {word:"prey",kor:"n.먹이",list:"프레이"},
                            {word:"prior",kor:"a.이전의, 우선하는",list:"프라이어"},
                            {word:"prohibit",kor:"v.금지하다",list:"프로히빗"},
                            {word:"propose",kor:"v.제안하다, 청혼하다",list:"프로포즈"},
                            {word:"pupil",kor:"n.학생, 눈동자, 동공",list:"퓨플"},
                            {word:"receipt",kor:"n.영수증",list:"뤼씨트"},
                            {word:"regulate",kor:"v.규제하다, 조절하다",list:"레귤레이트"},
                            {word:"resort",kor:"n.휴향지, 리조트, 의존, 의지",list:"리졸트"},
                            {word:"royal",kor:"a.왕족의, 왕의",list:"로얄"},
                        ]
                    },
                    {
                        idx:2,
                        date:"2",
                        words:[
                            {word:"ruin",kor:"n.파산,파멸,v.폐허로 만들다",list:"루인"},
                            {word:"scarce",kor:"a.부족한, 드문",list:"스케얼스"},
                            {word:"scholarship",kor:"n.장학금, 학문",list:"스콜러쉽"},
                            {word:"shelf",kor:"n.선반",list:"셀프"},
                            {word:"shortage",kor:"n.부족, 결함",list:"숄디쥐"},
                            {word:"spice",kor:"n.향신료, 양념",list:"스파이스"},
                            {word:"split",kor:"n.분열,v.찢다, (세로로)쪼개다,a.쪼개진",list:"스플릿"},
                            {word:"surgery",kor:"n.외과수술",list:"써저리"},
                            {word:"suspect",kor:"n.용의자,v.~가아닐까 의심하다",list:"서스펙트"},
                            {word:"tempt",kor:"v.유혹하다",list:"템트"},
                            {word:"thrive",kor:"v.번영하다. 발전하다",list:"뜨라이브"},
                            {word:"tolerate",kor:"v.참다, 용인하다, 묵인하다",list:"톨러레이트"},
                            {word:"trait",kor:"n.특징, 특성",list:"트레잇트"},
                            {word:"transform",kor:"v.변형시키다, 변환하다",list:"트렌스폶"},
                            {word:"triumph",kor:"n.승리,v.승리하다",list:"트롸이엄프"},
                            {word:"ultimate",kor:"a.궁극적인, 최후의",list:"얼티멧트"},
                            {word:"utility",kor:"n.효용,(수도,가스 등)공익 설비 시설",list:"유틸리디"},
                            {word:"worship",kor:"n.예배, 숭배,v.예배하다, 숭배하다",list:"워쉽"},
                            {word:"wreck",kor:"n.난파, 조난, 난파선,v.난파시키다",list:"뤠크"},
                            {word:"yield",kor:"v.생산하다, 양보하다, 굴복하다",list:"일드"},
                        ]
                    },
                    {
                        idx:3,
                        date:"3",
                        words:[
                            {word:"abandon",kor:"v.포기하다. 버리다",list:"어벤던"},
                            {word:"adolescent",kor:"n.청소년, a.청소년기의",list:"에돌레센트"},
                            {word:"agency",kor:"n.대리점",list:"에이전씨"},
                            {word:"altruism",kor:"n.이타주의",list:"알트루이즘"},
                            {word:"annals",kor:"n.연대기, 기록",list:"애날스"},
                            {word:"appear",kor:"v.나타나다",list:"어피얼"},
                            {word:"arctic",kor:"a.북극의",list:"아크틱"},
                            {word:"arise",kor:"v.생겨나다, 발생하다",list:"어라이즈"},
                            {word:"associate",kor:"v.연관짓다, 교체하다, n.동료",list:"어소시에이트"},
                            {word:"barrier",kor:"n.방벽, 장애물",list:"베리어"},
                            {word:"capture",kor:"n.포획, v.붙잡다. 포획하다",list:"캡쳐"},
                            {word:"compare",kor:"v.비교하다",list:"컴페어"},
                            {word:"conquer",kor:"v.정복핟, 극복하다",list:"컨퀄"},
                            {word:"contract",kor:"n.계약서, v.계약하다, 수축하다",list:"컨트렉트"},
                            {word:"contray",kor:"n.정반대,a.반대의, 적합치않은, 불리한",list:"컨트러리"},
                            {word:"council",kor:"n.협의, 협의회",list:"카운슬"},
                            {word:"crew",kor:"n.승무원",list:"크류"},
                            {word:"criteria",kor:"n.기준, 표준",list:"크리테리아"},
                            {word:"cruel",kor:"a.잔인한",list:"크루얼"},
                            {word:"debate",kor:"n.토론 ,v.토론하다",list:"디베이트"},
                        ]
                    },
                    {
                        idx:4,
                        date:"4",
                        words:[
                            {word:"deny",kor:"v.거절하다, 부인하다",list:"디나이"},
                            {word:"deprive",kor:"v.박탈하다",list:"디프라이브"},
                            {word:"dilute",kor:"v.희석시키다, a.묽은",list:"다일루트"},
                            {word:"dim",kor:"v.(불빛이)흐려지다, a.흐릿한, 어두운",list:"딤"},
                            {word:"distinguish",kor:"v.구별하다",list:"디스팅귀쉬"},
                            {word:"drastic",kor:"a.격렬한, 과감한",list:"드래스틱"},
                            {word:"drought",kor:"n.가뭄",list:"드라우트"},
                            {word:"earthquake",kor:"n.지진(사회, 정치적) 대변동",list:"얼뜨퀘이크"},
                            {word:"elegant",kor:"a.우아한, 고상한",list:"엘레강트"},
                            {word:"eliminate",kor:"v.삭제하다, 제거하다",list:"일리미네이트"},
                            {word:"enroll",kor:"v.입학하다, 등록하다",list:"인롤"},
                            {word:"ensure",kor:"v.확보하다, 분명히 하다",list:"인슈얼"},
                            {word:"errand",kor:"n.심부름, 잡일",list:"에런드"},
                            {word:"extraordinary",kor:"a.비범한, 비상한",list:"익스트리너리"},
                            {word:"fade",kor:"v.사라지다, 희미해지다",list:"페이드"},
                            {word:"fold",kor:"n.(동물의)우리, 약때, v.접다",list:"폴드"},
                            {word:"general",kor:"n.(육군, 공군, 해병대)대장,a.일반적인",list:"제너럴"},
                            {word:"germ",kor:"n.미생물, 세균,v.싹트다",list:"점"},
                            {word:"glance",kor:"n.흘긋 봄,v.흘긋보다",list:"글랜스"},
                            {word:"glare",kor:"n.번쩍임,v.번쩍번쩍 빛나다",list:"그램어"},
                        ]
                    },
                    {
                        idx:5,
                        date:"5",
                        words:[
                            {word:"greed",kor:"n.탐욕",list:"그리드"},
                            {word:"harsh",kor:"a.거친, 가혹한",list:"하쉬"},
                            {word:"impose",kor:"v.부과하다, 강요하다",list:"임포즈"},
                            {word:"infection",kor:"n.감염, 전염",list:"인펙션"},
                            {word:"inhabit",kor:"v.살다, 거주하다",list:"인헤빗트"},
                            {word:"inner",kor:"a.내부의",list:"이널"},
                            {word:"interfere",kor:"v.방해하다, 간섭하다",list:"인터펄"},
                            {word:"irritate",kor:"v.화나게 하다, 짜증나게 하다",list:"이리테이트"},
                            {word:"masterpiece",kor:"n.명작, 대작",list:"마스터피스"},
                            {word:"modify",kor:"v.변형하다, 수정하다",list:"모디파이"},
                            {word:"nevertheless",kor:"ad.그럼에도 불구하고",list:"네버더레스"},
                            {word:"nurture",kor:"n.양육, 교육,v.양육하다, 교육하다",list:"널철"},
                            {word:"nutrition",kor:"n.영양",list:"뉴트리션"},
                            {word:"pedestrian",kor:"n.보행자, a.보해장의",list:"페데스트리언"},
                            {word:"prejudice",kor:"n.편견, 섭입관",list:"프리주디스"},
                            {word:"prevail",kor:"v.우세하다, 보급되다, 유행하다",list:"프리베일"},
                            {word:"priest",kor:"n.성직자",list:"프리스트"},
                            {word:"profound",kor:"a.깊은, 심오한",list:"프로파운드"},
                            {word:"reinforcerment",kor:"n.강화, 보강",list:"리인플스먼트"},
                            {word:"retail",kor:"n.소매,v.소매하다",list:"리테일"},
                        ]
                    },
                    {
                        idx:6,
                        date:"6",
                        words:[
                            {word:"routine",kor:"n.일상적인 일, 길과,a.일상적인",list:"루틴"},
                            {word:"scream",kor:"n.비명, 절류,v.절규하다, 비명 지르다, 소리치다",list:"스크림"},
                            {word:"seal",kor:"n.도장, 봉인, 바다표범,v.봉인하다",list:"실"},
                            {word:"sensitive",kor:"a.민감한, 신경과민의",list:"센서티브"},
                            {word:"spill",kor:"n.업지름,v.엎지르다, 흘리다",list:"스필"},
                            {word:"statement",kor:"n.진술, 성명서",list:"스테이트먼트"},
                            {word:"stiffen",kor:"v.굳어지다",list:"스티픈"},
                            {word:"strenuous",kor:"a.힘이 많이 드는, 격렬한",list:"스트렌뉴어스"},
                            {word:"supervise",kor:"v.감독하다, 통제하다, 관리하다",list:"슈펄바이즈"},
                            {word:"swallow",kor:"n.삼킴, 제비,v.삼키다",list:"스왈로우"},
                            {word:"temporary",kor:"a.일시적인, 임시의",list:"템포러리"},
                            {word:"tragic",kor:"a.비극의, 비참한, 비장한",list:"트래직"},
                            {word:"trial",kor:"n.시도, 실험, 재판",list:"트라이얼"},
                            {word:"tribe",kor:"n.부족, 종족",list:"트라이브"},
                            {word:"usual",kor:"a.보통의, 통상의",list:"유젤"},
                            {word:"virtual",kor:"a.가상의, 사실상의",list:"벌츄얼"},
                            {word:"warehouse",kor:"n.창고",list:"웨어하우스"},
                            {word:"weapon",kor:"n.무기, 병기",list:"웨폰"},
                            {word:"welfare",kor:"n.복지",list:"웰페어"},
                            {word:"widespread",kor:"a.널리 퍼진",list:"와이드스프레드"},
                        ]
                    },
                    {
                        idx:7,
                        date:"7",
                        words:[
                            {word:"adjust",kor:"v.거절하다,조정하다",list:"애드저스트"},
                            {word:"appliance",kor:"n.(가정용)기구,장치",list:"어플라이언스"},
                            {word:"atom",kor:"n.원자",list:"애덤"},
                            {word:"avoid",kor:"v.피하다",list:"어보이드"},
                            {word:"beard",kor:"n.(턱)수염",list:"비얼드"},
                            {word:"budget",kor:"n.예산,예산안",list:"버젯"},
                            {word:"bump",kor:"n.충돌,혹,v.부딪히다,충돌하다",list:"범프"},
                            {word:"candidate",kor:"n.후보자",list:"캔디데이트"},
                            {word:"cease",kor:"v.그만두다,중지하다",list:"시즈"},
                            {word:"ceiling",kor:"n.천장,상한선",list:"시일링"},
                            {word:"combat",kor:"n.전투,v.싸우다",list:"컴배드"},
                            {word:"command",kor:"n.명령,지배력,v.명령하다,지위하다",list:"커맨드"},
                            {word:"confront",kor:"v.직면하다",list:"컨프론트"},
                            {word:"craft",kor:"n.솜씨,공예,기능,선박,비행기",list:"크래프트"},
                            {word:"crush",kor:"v,분쇄하다,뭉개다",list:"크러쉬"},
                            {word:"debt",kor:"n.빚,부채",list:"뎁트"},
                            {word:"dedicate",kor:"v.헌납하다,바치다",list:"데디케이트"},
                            {word:"destiny",kor:"n.운명",list:"데스티니"},
                            {word:"dispose",kor:"v.매치하다,처리하다,~할 마음이 내키게 하다",list:"디스포스"},
                            {word:"doom",kor:"n.운명,비운,멸망,v.~할 운명이다",list:"둠"},
                            
                        ]
                    },
                    {
                        idx:8,
                        date:"8",
                        words:[
                            {word:"drift",kor:"n.표류,v.표류하다",list:"드리프트"},
                            {word:"dynasty",kor:"n.왕조,왕가",list:"디이너스티"},
                            {word:"ecosystem",kor:"n.생태계",list:"에코시스템"},
                            {word:"endanger",kor:"v.위험에 빠뜨리다",list:"인덴절"},
                            {word:"enrich",kor:"v.풍성 하게하다,부유하게 하다",list:"인리치"},
                            {word:"entire",kor:"n.전체의,완전한,v.전부,전체",list:"인타아얼"},
                            {word:"erase",kor:"v.존제하다,살아남다",list:"아래아스"},
                            {word:"ethnic",kor:"a.인종의,민족의",list:"에스닉"},
                            {word:"excess",kor:"n.초과,초과량,과도함,a.초과함,여분의",list:"엑세스"},
                            {word:"exist",kor:"v.존제하다 살아가다",list:"이그지스트"},
                            {word:"fame",kor:"n.명성,a.게다가,더욱",list:"페임"},
                            {word:"foretell",kor:"v.에고하다,예언히다,",list:"포텔"},
                            {word:"fragile",kor:"a.부서지기 쉬운",list:"프레질"},
                            {word:"fur",kor:"n.부드러운,털,머피",list:"펄"},
                            {word:"furthermore",kor:"a.게다가,더욱이",list:"페더물"},
                            {word:"gamble",kor:"n.도박,v.도박을 하다",list:"겜블"},
                            {word:"genre",kor:"n.장르,우형,형식",list:"장르"},
                            {word:"geometry",kor:"n.기하학",list:"지오멘트리"},
                            {word:"graze",kor:",v.풀을 뜯다,방목하다",list:"그레레이즈"},
                            {word:"hardship",kor:"n.고난 역경",list:"하드쉽"},
                        ]
                    },
                    {
                        idx:9,
                        date:"9",
                        words:[
                            {word:"haste",kor:"n.급함, 서두름",list:"헤이스트"},
                            {word:"hydrogen",kor:"n.수소",list:"하이드로진"},
                            {word:"ideal",kor:"n.이상,a.이상적인",list:"아이디얼"},
                            {word:"incident",kor:"n.일어난 일, 사건,a.일어나기 쉬운",list:"인시던트"},
                            {word:"indifferent",kor:"a.무관심한",list:"인디펄런트"},
                            {word:"ingredient",kor:"n.재료, 성분",list:"인그레디언트"},
                            {word:"initial",kor:"n.머리글자(이니셜),a.처음의",list:"이니셜"},
                            {word:"minimal",kor:"a.아주적은, 최소의",list:"미니멀"},
                            {word:"mislead",kor:"v.잘못 인도하다, 오해하게 하다",list:"미스리드"},
                            {word:"moderate",kor:"a.온건한, 적당산",list:"모더레이트"},
                            {word:"myth",kor:"n.신화, 사회적 통념",list:"미쓰"},
                            {word:"nap",kor:"n.낮잠,v.낮잠을 자다",list:"냅"},
                            {word:"noble",kor:"a.귀족의, 고결한",list:"노블"},
                            {word:"obvious",kor:"a.명백한, 분명한",list:"오비어스"},
                            {word:"optimal",kor:"a.최적의, 최상의",list:"옵티멀"},
                            {word:"oral",kor:"a.구두의, 구슬의",list:"오럴"},
                            {word:"outstanding",kor:"a.눈에 띄는, 저명한, 미해결의",list:"아웃스텐딩"},
                            {word:"peer",kor:"n.동료, 동년배",list:"피얼"},
                            {word:"perspective",kor:"n.관점,견해, 원근법, 전망",list:"펄스펙티브"},
                            {word:"pile",kor:"n.축적, 쌓아올린 더미, 산더미,v.축적하다, 쌓아 올리다",list:"파일"},
                        ]
                    },  
                    {
                        idx:10,
                        date:"10",
                        words:[
                            {word:"protect",kor:"v.보호하다.",list:"프로텍트"},
                            {word:"raft",kor:"n.뗏목, 고무보트",list:"래프트"},
                            {word:"realize",kor:"v.현실화하다, 깨닫다",list:"리얼라이즈"},
                            {word:"renew",kor:"v.갱신하다, 새롭게 하다",list:"리뉴"},
                            {word:"representative",kor:"n.대표, 국회의원, a.대표하는",list:"리프레젠테티브"},
                            {word:"result",kor:"n.결과,v.결과로서 생기다",list:"리졀트"},
                            {word:"review",kor:"n.논평, 비평, 재검토, v.재검토하다",list:"리뷰"},
                            {word:"scatter",kor:"v.흩뿌리다, 산란시키다",list:"스케덜"},
                            {word:"session",kor:"n.회의, 회기, 수업시간, (대학의)학기",list:"세션"},
                            {word:"shift",kor:"n.변화, 교대, 이동,v.바꾸다, 이동하다",list:"쉬프트"},
                            {word:"soak",kor:"v.적시다, 젖다, 흡수하다",list:"속크"},
                            {word:"strain",kor:"n.긴장, v.긴장시키다, 팽팽하게 하다(너무써서)상하게다",list:"스트레인"},
                            {word:"temper",kor:"n.성질, 기질,v.완화하다",list:"템펄"},
                            {word:"thread",kor:"n.실,v.실을 꿰다",list:"뜨레드"},
                            {word:"undoubtedly",kor:"ad.의심할 여지없이, 확실히",list:"언다웃디들리"},
                            {word:"unify",kor:"v.통합하다, 통일하다",list:"유니파이"},
                            {word:"valid",kor:"a.타당한, 유효한",list:"밸리드"},
                            {word:"vital",kor:"a.생명의, 매우 중요한",list:"바이들"},
                            {word:"wholesale",kor:"n.도매,a.도매의",list:"홀세일"},
                            {word:"wonder",kor:"n.경이, 경탄,v.이상하게 여기다, 궁금하게 여기다",list:"원덜"},
                        ]
                    },
                    {
                        idx:11,
                        date:"11",
                        words:[
                            {word:"abolish",kor:"v.폐지하다",list:"어볼리쉬"},
                            {word:"accuse",kor:"v.고말하다,비난하다",list:"어큐즈"},
                            {word:"administer",kor:"v.관리하다,운영하다,통치하다",list:"어드미니스터"},
                            {word:"antique",kor:"n.골동품,v.고미술의",list:"에티크"},
                            {word:"asset",kor:"n.자산,자질",list:"애셋"},
                            {word:"assure",kor:"v.보증하다,확실하게 하다",list:"어슈얼"},
                            {word:"backward",kor:"a.후방의,뒤족으로,거꾸로",list:"백월드"},
                            {word:"barter",kor:"n,물물교환,교역품,v.교환하다",list:"바덜"},
                            {word:"carve",kor:"v.배다,조각하다,새기다",list:"커브"},
                            {word:"celebrity",kor:"n.명성,유명인사",list:"셀레브리티"},
                            {word:"cherish",kor:"v.소중이하다",list:"체리쉬"},
                            {word:"chilly",kor:"a.쌀쌀한,냉담한",list:"칠리"},
                            {word:"chore",kor:"v.집안일,허드렛일",list:"초얼"},
                            {word:"circular",kor:"a.원의,순환의",list:"설큘러"},
                            {word:"colleague",kor:"n.동료",list:"칼리그"},
                            {word:"conference",kor:"n.회의,회담",list:"컨퍼런스"},
                            {word:"congestion",kor:"n.밀집,혼잡",list:"컨제스천"},
                            {word:"constitute",kor:"n.구성,제정하다,설립하다",list:"컨스티튜트"},
                            {word:"content",kor:"n.내용(물),목차,a.만족하여",list:"콘텐트"},
                            {word:"copper",kor:"n.구리,a.구리의,구릿빛의",list:"코펄"},
                            
                        ]
                    },
                    {
                        idx:12,
                        date:"12",
                        words:[
                            {word:"crawl",kor:"v.기어가다",list:"크롤"},
                            {word:"decay",kor:"n.부식,v.부식되다,쇠퇴하다",list:"디케이"},
                            {word:"diabetes",kor:"n.당뇨병",list:"다이비어스"},
                            {word:"disgrace",kor:"n.불명예,수치",list:"디스그레이스"},
                            {word:"dismiss",kor:"v.해고하다,해산시키다,묵살하다",list:"디스미스"},
                            {word:"dwell",kor:"v.살다,거주하다",list:"드웰"},
                            {word:"edtorisl",kor:"n.사설,논설,a.편집자의",list:"에디토리얼"},
                            {word:"emperor",kor:"n.황제",list:"엠퍼러"},
                            {word:"eternal",kor:"a.영원히",list:"이터널"},
                            {word:"exclaim",kor:"v.(감탄하여)외치다",list:"익스클레임"},
                            {word:"fertile",kor:"a.비옥한,기름진",list:"퍼털"},
                            {word:"fierce",kor:"a.사나운,맹렬한",list:"피얼스"},
                            {word:"flavor",kor:"n.맛,v.맛을내다",list:"플레이벌"},
                            {word:"flow",kor:"n.흐름,v.흐르다",list:"플로우"},
                            {word:"form",kor:"n.형태,v.형성하다",list:"폼"},
                            {word:"fussil",kor:"n.화석",list:"퍼쓸"},
                            {word:"gender",kor:"n.성,성멸",list:"젠더"},
                            {word:"glacier",kor:"n.빙하",list:"글레셸"},
                            {word:"glitter",kor:"n.반짝임,v.반짝이다",list:"글레럴"},
                            {word:"heritage",kor:"n.유산,세습 재산,v.,a.",list:"해리티쥐"},
                        ]
                    },
                      // {
                    //     idx:4,
                    //     date:"57",
                    //     words:[
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //         {word:"",kor:"n.,v.,a.",list:""},
                    //     ]
                    // }
                ]

            },
            methods:{
                update(){
                    this.vWord = 3;


                    this.wView = [];
                    for (var i = 0; i < this.wdata[0].words.length; i++) {
                        var num = Math.floor(Math.random() * this.wdata[0].words.length);
                        if(this.wView.indexOf(num) === -1){
                            this.wView.push(num);
                        }else{
                            i--;
                        }
                    }
                },
                myClick(k){
                    //this.back = k;

                   if(this.back == k){
                       this.back = null
                   }else{
                    this.back = k;
                   }
                    
                    //document.querySelector(".view li").classList.remove("back");
                        // if( this.backView == true){
                        //     this.back = k;
                        //     this.backView = false;
                        // }else{
                        //     document.querySelector(".view li").classList.remove("back");
                            
                        //     this.backView = true
                        // }
                    


                    //this.back = k;
                    console.log( k )
                }
            }
          
        })
    </script>
</body>
</html>